{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block main %}
<div class="title">
    <h1>Приложение 1.</h1>
    <h2> Решение алгоритмической задачи и анализ данных.</h2>
    <h3>Содержание приложения:</h3>
    <ol>
        <li>Полученные данных из формы,</li>
        <li>Cохранение данных в таблице базы,</li>
        <li>Получение данных из таблицы базы, необходимые вычисления и представление данных и результатов решения в таблицеподобном виде,</li>
        <li>Отображение в таблицеподобном виде всех ранее введенных данных</li>
        <li>Фильтрация и сортировка данных из таблицы</li>
        <li>Представление в агрегированном виде статистики по одному из полей таблицы</li>
    </ol>
</div>
{% endblock %}